.jumbotron
  %h1 Find your way home
  %ul.nav.nav-pills{:role => "tablist"}
    %li.active{:role => "presentation"}
      %a{:href => "#"} Buy
    %li{:role => "presentation"}
      %a{:href => "#"} Rent
    %li{:role => "presentation"}
      %a{:href => "#"} Sell
    %li{:role => "presentation"}
      %a{:href => "#"} Zestimate

  %form
    .form-group
      %input.form-control{:placeholder => "Enter an address, neighborhood, city or ZIP code", :type => "text"}/
      %button.btn.btn-default{:type => "submit"} Search

.page-header
  %h1 Houses

.row
  - @listings.each do |listing|
    .col-sm-6.col-md-3
      .thumbnail
        - if listing.image_id
          = image_tag attachment_url(listing, :image), size: "484x400"
        .caption
          %h5
            %font{:size => "6"}= listing.price
            = listing.bedrooms
            •
            = listing.bathrooms
            •
            = listing.size
          %p
            = distance_of_time_in_words_to_now(listing.created_at)
            •
            = listing.address
          %p
            %a.btn.btn-primary{:href => "/listings/#{listing.id}", :role => "button"} View

-# %a.btn.btn-primary{:href => "#", :role => "button"} Button

-# .table-responsive
-#   %table.table.table-striped.table-bordered.table-hover
-#     %tbody
-#       - @listings.each do |listing|
-#         %tr
-#           %td= listing.address
-#           %td
-#             = link_to listing do
-#               %span.glyphicon.glyphicon-ok
-#           %td
-#             = link_to edit_listing_path(listing) do
-#               %span.glyphicon.glyphicon-pencil
-#           %td
-#             = link_to listing, data: { confirm: 'Are you sure?' }, method: :delete do
-#               %span.glyphicon.glyphicon-remove
-#           %td
-#             - if listing.image_id
-#               = image_tag attachment_url(listing, :image), size: "484x400"
