.jumbotron
  %h1 Find your way home
  %ul.nav.nav-pills{:role => "tablist"}
    %li.active{:role => "presentation"}
      %a{:href => "#"} Buy
    %li{:role => "presentation"}
      %a{:href => "#"} Rent
    %li{:role => "presentation"}
      %a{:href => "#"} Sell
    %li{:role => "presentation"}
      %a{:href => "#"} Zestimate

  %form
    .form-group
      %input.form-control{:placeholder => "Enter an address, neighborhood, city or ZIP code", :type => "text"}/
      %button.btn.btn-default{:type => "submit"} Search

.page-header
  %h1 Houses

.row
  - @listings.each do |listing|
    .col-sm-6.col-md-4
      .thumbnail
        %img{:alt => "", :src => "#{listing.image}"}/
        .caption
          %h3= listing.price
          %p= listing.description
          %p
            %a.btn.btn-primary{:href => "#", :role => "button"} Button
            %a.btn.btn-default{:href => "#", :role => "button"} Button

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %tbody
      - @listings.each do |listing|
        %tr
          %td= listing.address
          %td= listing.bedrooms
          %td= listing.bathrooms
          %td= listing.size
          %td= listing.price
          %td= listing.description
          %td= listing.parking
          %td= listing.image
          %td= listing.agent
          %td
            = link_to listing do
              %span.glyphicon.glyphicon-ok
          %td
            = link_to edit_listing_path(listing) do
              %span.glyphicon.glyphicon-pencil
          %td
            = link_to listing, data: { confirm: 'Are you sure?' }, method: :delete do
              %span.glyphicon.glyphicon-remove
