.page-header
  = link_to listings_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-arrow-left
    Back
  = link_to edit_listing_path(@listing), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show listing

%dl.dl-horizontal
  %dt Address:
  %dd= @listing.address
  %dt Bedrooms:
  %dd= @listing.bedrooms
  %dt Bathrooms:
  %dd= @listing.bathrooms
  %dt Size:
  %dd= @listing.size
  %dt Price:
  %dd= @listing.price
  %dt Description:
  %dd= @listing.description
  %dt Parking:
  %dd= @listing.parking
  %dt Image:
  %dd= @listing.image_id
  %dt Agent:
  %dd= @listing.agent
